---
title: "Australian Parliament Kanban"
description: "Parliament Kanban"
url: /
layout: compress

columns:
- title: "Pending"
  data: pending
- title: "Passed"
  data: passed
- title: "Failed"
  data: failed
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
        <script src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
    </head>
    <body>
        <h1>{{ page.title }}</h1>
        <p>This is a list of all bills that have come before the current federal parliament. Data updates daily.</p>
        <p><a href="https://github.com/Coedice/parliament-kanban">Click here</a> to see the source code.</p>
        {% assign filters = "" %}
        {% for party in site.data.parties %}
            {% assign party_has_bills = false %}
            {% for column in page.columns %}
                {% for bill in site.data.bills[column.data] %}
                    {% if bill.sponsor_party == party.name or bill.minister_party == party.name %}
                        {% assign party_has_bills = true %}
                        {% break %}
                    {% endif %}
                {% endfor %}
            {% endfor %}

            {% if party_has_bills %}
                {% if party.group %}
                    {% if filters contains party.group %}
                    {% else %}
                        {% assign filters = filters | append: party.group | append: "|" %}
                    {% endif %}
                {% else %}
                    {% assign filters = filters | append: party.name | append: "|" %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% assign filters = filters
            | split: "|"
            | sort
            | join: "|"
            | prepend: "Clear filter|"
            | split: "|"
        %}
        <div id="filters">
            {% for filter in filters %}
                <a id="{{ filter | slugify }}-filter" {% if filter == "Clear filter" %}class="active-filter"{% endif %} onclick="filterByParty('{{ filter | slugify }}')">{{ filter }}</a>
            {% endfor %}
        </div>
        <div>
            <label for="date">Start:</label>
            <input type="date" id="start-date" value="">
            <label for="date">End:</label>
            <input type="date" id="end-date" value="">
            <input type="submit" value="Go" onclick="filterByDate(document.getElementById('start-date').value, document.getElementById('end-date').value)">
        </div>
        <div class="row">
            {% for column in page.columns %}
                <div class="column">
                    {% assign column_size = site.data.bills[column.data].size %}
                    <h2>{{ column.title }} ({% if column_size > 0 %}<span class="columnSize">{{ column_size }}</span>{% else %}0{% endif %})</h2>
                    {% assign bills = site.data.bills[column.data] %}
                    {% if bills != null %}
                        {% assign bills = bills | sort: "last_updated" | reverse %}
                    {% endif %}
                    {% for bill in bills %}
                        <div onclick="openBill('{{ bill.bill_id }}')" class="ticket {{ bill.introducer_party | slugify }}" id="{{ bill.bill_id }}" data-date="{{ bill.last_updated }}">
                            <img class="starIcon" alt="Star" title="Star this bill" onclick="toggleStar('{{ bill.bill_id }}')">
                            {% assign billTypeSlug = bill.type | slugify %}
                            <div class="assignee">
                                {% if bill.introducer_id %}
                                    <img class="assigneeImage {{ bill.originating_house | slugify }}" src="https://www.openaustralia.org.au/images/mpsL/{{ bill.introducer_id }}.jpg" alt="{{ bill.introducer_name }}" title="{{ bill.introducer_name }}">
                                {% endif %}
                                {% for party in site.data.parties %}
                                    {% if bill.introducer_party == party.name and party.icon %}
                                        <a href="{{ party.url }}" onclick="childClick(event)" target="_blank">
                                            <img class="partyIcon" src="{{ party.icon }}" alt="{{ party.name }} icon" title="{{ party.name }}">
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <span class="billId" title="Bill ID"><img src="{{ 'assets/images/' | append: billTypeSlug | append: '.webp'}}" alt="{{ bill.type }} bill" title="{{ bill.type }} bill"> {{ bill.bill_id }}</span>
                            <h3>{{ bill.title }}</h3>
                            {% if bill.summary %}
                                <p>{{ bill.summary }}</p>
                            {% endif %}
                            <h4>Info:</h4>
                            <ul>
                                {% if bill.type == "Government" %}
                                    <li>Portfolio: {{ bill.portfolio }}</li>
                                {% endif %}
                                {% if bill.introducer_id %}
                                    <li>
                                        {% if bill.type == "Government" %}Minister{% else %}Sponsor{% endif %}:
                                        {% if bill.originating_house == "Senate" %}Senator for {{ bill.introducer_division }},{% endif %}
                                        {{ bill.introducer_name }}
                                        {% if bill.originating_house == "House of Representatives" %}MP{% endif %}
                                        ({{ bill.introducer_party }}){% if bill.originating_house == "House of Representatives" %}, member for <a href="http://www.aec.gov.au/{{ bill.introducer_division | downcase }}" onclick="childClick(event)" target="_blank">{{ bill.introducer_division }}</a>{% endif %}
                                    </li>
                                {% endif %}
                                <li>Type: {% if bill.type == "Government" %}Government{% else %}Private member's{% endif %} bill</li>
                                <li>Last changed: {{ bill.last_updated | date: "%d/%m/%Y" }}</li>
                            </ul>
                            <h4>Progress:</h4>
                            <p class="progress-diagram">
                                {% if column.data == "pending" %}
                                    {% if bill.originating_house == "House of Representatives" %}
                                        <span class="reps-u">U</span>{% if bill.status != "Before Reps" %}<sup>✅</sup>{% endif %} - <span class="sen-u">U</span>
                                    {% elsif bill.originating_house == "Senate" %}
                                        <span class="sen-u">U</span>{% if bill.status != "Before Senate" %}<sup>✅</sup>{% endif %} - <span class="reps-u">U</span>
                                    {% endif %}
                                    - 👑
                                    - 📜
                                {% elsif column.data == "passed" %}
                                    {% if bill.originating_house == "House of Representatives" %}
                                        <span class="reps-u">U</span><sup>✅</sup> - <span class="sen-u">U</span><sup>✅</sup>
                                    {% elsif bill.originating_house == "Senate" %}
                                        <span class="sen-u">U</span><sup>✅</sup> - <span class="reps-u">U</span><sup>✅</sup>
                                    {% endif %}
                                    - 👑{% if bill.status == "Assent" or bill.status == "Act" %}<sup>✅</sup>{% endif %}
                                    - 📜{% if bill.status == "Act" %}<sup>✅</sup>{% endif %}
                                {% elsif column.data == "failed" %}
                                    {% if bill.originating_house == "House of Representatives" %}
                                        <span class="reps-u">U</span><sup>❌</sup> - <span class="sen-u">U</span>
                                    {% elsif bill.originating_house == "Senate" %}
                                        <span class="sen-u">U</span><sup>❌</sup> - <span class="reps-u">U</span>
                                    {% endif %}
                                    - 👑
                                    - 📜
                                {% endif %}
                            </p>
                            <ul class="progress">
                                <li>✅ Presented in {{ bill.originating_house }}</li>
                                {% if column.data == "pending" %}
                                    {% if bill.originating_house == "House of Representatives" and bill.status != "Before Reps" %}
                                        <li>✅️ Passed in House of Representatives</li>
                                        <li>☐ Pending in Senate</li>
                                    {% elsif bill.originating_house == "Senate" and bill.status != "Before Senate" %}
                                        <li>✅️ Passed in Senate</li>
                                        <li>☐ Pending in House of Representatives</li>
                                    {% elsif bill.originating_house == "House of Representatives" and bill.status == "Before Reps" %}
                                        <li>☐ Pending in House of Representatives</li>
                                        <li>☐ Pending in Senate</li>
                                    {% elsif bill.originating_house == "Senate" and bill.status == "Before Senate" %}
                                        <li>☐ Pending in Senate</li>
                                        <li>☐ Pending in House of Representatives</li>
                                    {% endif %}
                                    <li>☐ Pending royal assent</li>
                                    <li>☐ Not commenced</li>
                                {% elsif column.data == "passed" %}
                                    <li>✅️ Passed in House of Representatives</li>
                                    <li>✅️ Passed in Senate</li>
                                    <li>✅️ Received royal assent</li>
                                    {% if bill.status == "Assent" %}
                                        <li>☐ Not commenced</li>
                                    {% else %}
                                        <li>✅️ Commenced</li>
                                    {% endif %}
                                {% elsif column.data == "failed" %}
                                    <li>❌ Bill failed</li>
                                {% endif %}
                            </ul>
                            <h4>Links:</h4>
                            <ul>
                                <li><a href="{{ bill.pdf_url }}" onclick="childClick(event)" target="_blank">Download the {% if bill.status == "Act" %}act{% else %}bill{% endif %}</a></li>
                                {% if bill.second_reading_hansard_url %}
                                    <li><a href="{{ bill.second_reading_hansard_url }}" onclick="childClick(event)" target="_blank">Second reading speech</a></li>
                                {% endif %}
                                {% assign bill_url = "https://www.aph.gov.au/Parliamentary_Business/Bills_Legislation/Bills_Search_Results/Result?bId=" | append: bill.bill_id %}
                                <li><a href="{{ bill_url }}" onclick="childClick(event)" target="_blank">More info</a></li>
                                <li><a href="https://www.perplexity.ai/search/?q=Summarise%20this%20bill%3A%20{{ bill_url | url_encode }}" onclick="childClick(event)" target="_blank">AI summary</a></li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </body>
</html>