---
---

* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: white;
}

body {
    background-color: #292c33;
}

.column {
    float: left;
    width: 33.33%;
    padding: 0px;

    h2 {
        text-align: center;
    }
}

#filters > a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding: 2px 5px;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }

    &.active-filter {
        background-color: black;
        color: white;
    }
}

.ticket {
    display: block;
    padding: 14px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    border: 2px;
    border-style: solid;
    min-height: 50px;
    &:hover {
        cursor: pointer;
    }

    &:not(.active) {
        p,
        ul,
        h4,
        a,
        img.partyIcon {
            display: none;
        }
    }

    &.active {
        img.assigneeImage {
            margin-bottom: 14px;
        }
    }

    h3 {
        display: block;
        margin: 0px;
        font-size: medium;
        margin-right: 50px + 14px;
        font-size: large;
        font-weight: normal;
    }

    .assignee {
        position: absolute;
        top: 14px;
        right: 14px;

        .assigneeImage {
            object-fit: cover;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            border: 1px solid;
            display: block;

            &.house-of-representatives {
                border-color: green;
            }

            &.senate {
                border-color: red;
            }
        }

        .partyIcon {
            display: block;
            width: 50px;
        }
    }

    span.billId {
        font-family: "JetBrains Mono", Menlo, Courier, monospace;
        img {
            width: 1em;
            height: 1em;
            display: inline;
        }
    }

    p {
        font-size: small;
        margin-right: 50px + 14px;
        display: block;
    }

    h4 {
        margin-bottom: 0;
        font-weight: normal;
    }

    li {
        margin-left: 20px;
        font-size: small;
    }

    ul {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;

        &.progress li {
            margin-left: 0;
            display: block;
        }
    }

    {% for party in site.data.parties %}
        &.{{ party.name | slugify }} {
            border-color: {{ party.color }};
        }
    {% endfor %}
}
